html,
body {
  height: 100%;
  @extend %Poiret;
  color: $grey;
  position: relative;
  // overflow-x: hidden;
  margin: 0 auto;
  background-color: $white;
  font-size: 24px;
  line-height: 30px;
  line-height: normal;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: $grey;
  position: relative;
  // border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  // background-color: $green;
  background: $white;
  border-radius: 5px;
  border: 1px solid $grey;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1886px;
  margin: 0 auto;
  padding: 0 80px;
}

.section {
  padding: 50px 0;
}

.title {
  @extend %Poiret;
  font-size: 48px;
  line-height: 54px;
  line-height: normal;
  margin-bottom: 30px;
  max-width: fit-content;
}

.social {
  position: relative;
  z-index: 10;
}

.social__list {
  display: inline-block;

  &+.social__list {
    margin-left: 50px;
  }
}


.main-btn {
  padding: 10px 48px;
  font-size: 20px;
  line-height: 26px;
  line-height: normal;
  @extend %Poiret;
  border-radius: 3px;
  border: 1px solid $grey;
  width: fit-content;
  cursor: pointer;
}

.black-btn {
  color: $white;
  background-color: $grey;
  transition: all .3s;
  // border: 1px solid transparent;

  &:hover {
    color: $grey;
    background-color: $white;
  }
}

.white-btn {
  color: $grey;
  background-color: $white;
  transition: all .3s;
  // border: 1px solid transparent;

  &:hover {
    color: $white;
    background-color: $grey;
  }
}

.onebonus__btn,
.twobonus__btn,
.video-btn,
.price__btn {
  border: 1px solid transparent;

  &:hover {
    border: 1px solid $white;
    color: $white;
    background-color: $grey;
  }
}



.social__list-link,
.tetatet__social-list--link {
  &:hover {
    rect {
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation: draw 5s linear forwards;
    }

    path {
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation: draw 5s linear forwards;
    }
  }
}


@keyframes draw {
  100% {
    stroke-dashoffset: 0;
  }
}


.menu__btn {
  width: 50px;
  height: 40px;
  cursor: pointer;
  z-index: 100;
  display: none;
  padding-top: 4px !important;
  border-radius: 5px;

  &.active {
    .row {
      height: 5px;

    }

    .row1 {
      transform: rotate(45deg);
      position: relative;
      top: 7px;
      background-color: $white;
      transition: all .5s ease 0s;
    }

    .row2 {
      transform: rotate(-45deg);
      position: relative;
      top: -4px;
      background-color: $white;
      transition: all .5s ease 0s;
    }

    .row3 {
      opacity: 0;
    }
  }
}

.row {
  // width: 30px;
  width: 35px;
  border: 1px solid #252525;
  background-color: $grey;
  // height: 2px;
  height: 5px;
  border-radius: 5px;
  display: block;
  margin-bottom: 6px;
  margin-top: 6px;
  transition: all .3s;
  margin: 6px auto;

}

.row3 {
  width: 24px;
  margin-left: 18px;
}

.mobil__social {
  display: none;
}



.slick-dots {
  text-align: center;
  display: flex;
  justify-content: center;
  list-style: none;

  button {
    background-color: transparent;
    border: 1px solid $white;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    margin: 20px 10px;
    font-size: 0;
    margin-bottom: 0;
    cursor: pointer;
  }
}

.slick-dots li[class="slick-active"] button {
  background-color: $white;
}


.reviews__inner {
  .slick-dots {
    button {
      background-color: $white;
      border: 1px solid $grey;
    }
  }

  .slick-dots li[class="slick-active"] button {
    background-color: $grey;
  }
}

// КНОПКИ СЛАЙДЕР
.slick-prev {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  // left: -80px;
  left: 0;
  z-index: 1;
}

.slick-next {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  // right: -85px;
  right: 0;
}

.slick-arrow {
  cursor: pointer;
  background-color: transparent;
  border: none;

  .arrow__wrapper {
    img {
      width: 185px;
      height: 100px;
    }
  }
}

// КНОПКИ СЛАЙДЕР

.modal {
  position: fixed;
  z-index: 150;
  background-color: $white;
  display: none;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 0;
  bottom: 0;

}



.modal__inner {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}

.modal__wrapper {
  position: relative;
}

.modal__title {
  margin: 0 auto;
  margin-bottom: 30px;
}

.close__btn,
.close__btn-modal {
  position: absolute;
  top: 20px;
  right: 0;
  cursor: pointer;
}

.close__line {
  width: 30px;
  background-color: $grey;
  height: 3px;
  border-radius: 5px;
  display: block;
  margin-bottom: 6px;
  position: relative;
}

.close__line-modal {
  width: 30px;
  background-color: $grey;
  height: 3px;
  border-radius: 5px;
  display: block;
  margin-bottom: 6px;
  position: absolute;
  right: 5px;
  top: 5px;
}

.close__line1 {
  transform: rotate(45deg);
  top: 6px;
}

.close__line1-modal {
  transform: rotate(45deg);
  top: -2px;
}

.close__line2 {
  transform: rotate(-45deg);
  top: -3px;
}

.close__line2-modal {
  transform: rotate(-45deg);
  top: -2px;
}

.show {
  display: block;
  display: flex;
  align-items: center;
  height: 100%;
}

.hide {
  display: none;
}



.up-button {
  width: 100px;
  height: 100px;
  background-color: rgba(255, 254, 254, 0.9);
  border-radius: 50%;
  border: 3px solid $grey;
  color: $grey;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 15px;
  bottom: 15px;
  cursor: pointer;
  opacity: 0;
}

.up-button__text {
  @extend %Bad;
  font-size: 24px;
  line-height: 30px;
  position: relative;
  transform: rotate(-10deg);
  bottom: -10px;

  &::before {
    transform: rotate(10deg);
    position: absolute;
    content: '';
    background-image: url('../images/icons/up-arrow.svg');
    width: 26px;
    height: 17px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    top: -25px;
    right: 4px;

  }
}

.modal-contact {
  position: fixed;
  max-width: 100px;
  // width: 100px;
  width: 100%;
  height: 100px;
  background-color: rgba(255, 254, 254, 0.9);
  border-radius: 50%;
  border: 3px solid $grey;
  color: $grey;
  right: 15px;
  bottom: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0;
  transition: all 0.5s;
}

.modal-contact-img {
  width: 40px;
  height: 40px;
  animation: 3s ease-in-out 0s normal none infinite running trambling-animation;
}


@keyframes trambling-animation {

  0%,
  50%,
  100% {
    transform: rotate(0deg);
  }

  10%,
  30% {
    transform: rotate(-10deg);
  }

  20%,
  40% {
    transform: rotate(10deg);
  }
}

.modal-contact-box {
  display: none;
  padding: 15px;
  text-align: center;
  padding-right: 70px;
}

.modal-contact-active {
  max-width: fit-content;
  width: 100%;
  border-radius: 10px;
  cursor: inherit;

  .modal-contact__phone {
    margin-bottom: 20px;
    font-size: 20px;
    @extend %Poiret;
  }

  .modal-contact-box {
    display: block;

    ul {
      margin-left: 0 !important;
      padding-left: 0;

      li+li {
        margin-left: 30px;
      }
    }
  }

  .modal-contact-img {
    display: none;
  }
}

// .modal-contact-box{
//   position: absolute;
//   left: -230px;
//   top: -50px;
//   padding: 15px;
//   // max-width: 500px;
//   // width: 100%;
//   background-color: $white;
//   border-radius: 3px;
//   border: 3px solid $grey;
// }
// .modal-contact__phone{
//   font-size: 20px;
//   @extend %Poiret;
// }