@media(max-width: 1850px) {
  .screen__right {
    width: 808px;
  }

  .screen__item {
    width: 280px;
  }

  .screen__item-center--img {
    width: 280px;
    height: 280px;
    bottom: 380px;
    right: -200px;
  }

  .menu__list {
    font-size: 20px;
    padding-top: 23px;

    &+.menu__list {
      margin-left: 50px;
    }
  }

  .screen__item-center--text {
    font-size: 24px;
    bottom: 250px;
  }

  .adv__item {
    max-width: 320px;
  }

  .problems__item {
    padding: 30px 30px;
  }

  .problems__title {
    margin-bottom: 30px;
  }
}

@media(max-width: 1700px) {
  .stages__inner {
    flex-wrap: wrap;
    justify-content: center;
  }

  .stages__item {
    max-width: 400px;
  }
}

@media(max-width: 1600px) {
  .container {
    padding: 0 60px;
  }

  .screen__right {
    width: 778px;
  }

  .screen__item {
    width: 253px;
  }

  .social__list {
    &+.social__list {
      margin-left: 30px;
    }
  }

  .screen__item-center--img {
    height: 253px;
    bottom: 340px;
  }

  .screen__item-center--text {
    bottom: 250px;
  }

  .menu__list+.menu__list {
    margin-left: 30px;
  }

  .screen__name {
    font-size: 36px;
  }

  .screen__title {
    font-size: 64px;
    margin-bottom: 40px;
  }

  .adv__number {
    font-size: 64px;
  }

  .tetatet__item-text {
    padding: 50px;
  }

  .onebonus__item-1 {
    padding: 50px 90px 50px 50px;
  }

  .problems__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
  }

  .problems__item {
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    flex-wrap: wrap;
    height: calc(100vw / 2);
  }

  .problems__item-1 {
    display: flex;
    align-items: center;

  }

  .problems__main-title {
    font-size: 48px;
    max-width: 500px;
  }

  .problems__title {
    font-size: 38px;
  }

  .problems__text {
    font-size: 32px;
  }

  .problems__item-3,
  .problems__item-6,
  .problems__item-7 {
    background-color: $grey;
    color: #fff;
  }

  .problems__item-1,
  .problems__item-4,
  .problems__item-5 {
    background-color: $white;
    color: $grey;
  }

  .price__title {
    font-size: 48px;
    margin-bottom: 30px;
  }

  .price__btn {
    margin-top: 30px;
  }

  .about__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .about__item-painting {
    grid-column-start: span 2;
    overflow-y: hidden;

    &::before {
      bottom: -110px;
    }

    .about__item-text {
      padding-bottom: 140px;
    }
  }
}

@media(max-width: 1450px) {
  .screen {
    margin-top: -100px;
  }

  .screen__item-social {
    display: none;
  }

  .connection {
    display: none;
  }

  .menu__btn {
    display: block;
    position: absolute;
    right: 0;
    top: 30px;
  }

  .header__menu {
    display: none;

    &.active {

      display: block;
      position: absolute;
      right: -60px;
      top: 0px;
      background-color: $grey;
      width: 560px;
      z-index: 50;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: left;
      flex-wrap: wrap;
      padding-left: 190px;
      padding-top: 150px;
      padding-bottom: 150px;

      .mob__connection {
        display: block;
        color: $white;
        text-align: left;
        margin-left: 0;
        padding: 0;
      }

      .mobil__social {
        display: block;
        width: 100%;
      }

      .menu {
        width: 100%;
      }

      .menu__list {
        display: block;
        color: $white;

        &+.menu__list {
          margin-left: 0;
        }
      }
    }
  }

  .screen__box {
    max-width: 300px;

    .screen__btn {
      margin-bottom: 30px;
    }
  }

  .adv {
    background-size: contain;
  }

  .adv__inner {
    flex-wrap: wrap;
    // justify-content: center;
  }

  .adv__item {
    max-width: 550px;
    width: 100%;
  }

  .adv__title {
    min-height: 70px;
    max-width: 100%;
    margin-bottom: 15px;
  }

  .tetatet__inner,
  .group__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
  }

  .tetatet__item,
  .group__item {
    height: calc(100vw / 2);
  }

  .tetatet__item-text,
  .group__item-text {
    padding: 15px 30px;
    align-content: center;
  }

  .tetatet__item-1,
  .group__item-1 {
    order: 1;
  }

  .tetatet__item-2,
  .group__item-2 {
    order: 2;
  }

  .tetatet__item-3,
  .group__item-3 {
    order: 4;
  }

  .tetatet__item-4,
  .group__item-4 {
    order: 3;
  }

  .tetatet__item-5,
  .group__item-5 {
    order: 5;
  }

  .tetatet__item-6,
  .group__item-6 {
    order: 6;
  }

  .onebonus__inner,
  .twobonus__inner {
    grid-template-columns: 1fr 1fr;
  }

  .onebonus__item-1 {
    padding: 50px 90px 50px 30px;
  }

  .twobonus__item-2 {
    padding: 50px 90px 50px 30px;
  }

  .onebonus__item-2--text {
    font-size: 16px;
    width: 300px;
    left: -86px;
    bottom: 36%;
  }

  .twobonus__item-1--text {
    font-size: 16px;
    width: 300px;
    right: -50px;
  }

  .onebonus__item-title,
  .twobonus__item-title {
    font-size: 48px;
    margin-bottom: 30px;
  }

  .onebonus__item-list,
  .twobonus__item-list {
    font-size: 20px;
  }

  .problems__item {
    padding: 70px;
  }


}

@media(max-width: 1300px) {
  .screen__right {
    position: relative;
    right: -60px;
    width: 506px;
  }

  .screen__item-right {
    display: none;

  }

  .screen__item-center--img {
    display: none;
  }

  .row {
    background-color: $white;
  }

  .header__menu.active {
    width: 506px;
    padding-left: 160px;
  }

  .offer__title {
    font-size: 24px;
  }

  .offer__text {
    font-size: 20px;
  }

  .adv {
    padding-bottom: 500px;
  }

  .adv__item {
    max-width: 100%;
  }

  .adv__title {
    min-height: fit-content;
  }

  .onebonus__item-1 {
    padding: 50px 40px 50px 30px;
  }

  .twobonus__item-2 {
    padding: 50px 40px 50px 30px;
  }

  .onebonus__item-2--text,
  .twobonus__item-1--text {
    display: none;
  }

  .problems__main-title {
    font-size: 38px;
  }

  .problems__title {
    font-size: 32px;
  }

  .problems__text {
    font-size: 24px;
  }

  // .stages__inner {
  //   flex-wrap: wrap;
  //   justify-content: center;
  // }

  .stages__item {
    max-width: 350px;
  }

  .contacts__text {
    margin-bottom: 100px;
    font-size: 24px;
    @extend %Poiret;
  }

  .price {
    .container {
      padding: 0;
    }
  }

  .price__wrapper {
    justify-content: space-between;
  }

  .price__left {
    max-width: 950px;
    padding-left: 50px;
    padding-right: 20px;
  }

  .price__text-sale {
    margin-right: 30px;
  }

}

@media(max-width: 1100px) {

  .tetatet__item-text,
  .group__item-text {
    height: auto;
  }

  .tetatet__social-list+.tetatet__social-list {
    margin-left: 30px;
  }

  .tetatet__item-3 {
    display: none;
  }

  .tetatet__item-5 {
    display: none;
  }

  .group__item-1 {
    display: none;
  }

  .group__item-3 {
    order: 1;
  }

  .group__item-5 {
    display: none;
  }

  .problems__item {
    padding: 50px;
  }

  .problems__main-title {
    font-size: 38px;
    max-width: 400px;
  }

  .problems__title {
    font-size: 32px;
  }

  .problems__text {
    font-size: 20px;
  }

  .stages__inner {
    justify-content: flex-start;
  }

  .price__title {
    margin-bottom: 50px;
    font-size: 32px;
  }

  .price__text {
    font-size: 20px;
    max-width: 320px;
  }

  .price__text-sale {
    font-size: 20px;
  }

  .price__text-sale--line {
    &::before {
      top: 20px;
    }
  }

  .price__price {
    font-size: 40px;
  }

  // .price__right{
  //   max-width: 470px;
  // }
}

@media(max-width: 1050px) {
  .container {

    padding: 0 40px;
  }

  .screen__item-center {
    display: none;
  }

  .screen__item {
    width: 350px;
  }

  .screen__right {
    width: 350px;
  }

  .header__menu.active {
    width: 350px;
    padding-left: 85px;
  }

  .adv {
    padding-bottom: 30px;
    background-image: none;
  }



  .onebonus__inner,
  .twobonus__inner {
    grid-template-columns: 1fr;
  }

  .onebonus__item-2,
  .twobonus__item-1 {
    display: none;
  }

  .contacts__inner {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    max-width: 250px;
    margin-top: -45px;
  }
}

@media(max-width: 900px) {
  .problems__item {
    padding: 50px;
  }

  .problems__main-title {
    font-size: 38px;
    max-width: 400px;
  }

  .problems__title {
    font-size: 32px;
  }

  .problems__text {
    font-size: 20px;
  }

  .problems__inner {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, auto);
  }

  .problems__item {
    padding: 30px 40px;
    height: auto;
    text-align: left;
  }

  .problems__title,
  .problems__main-title {
    max-width: fit-content;
    margin-right: auto;
    text-align: left;
    font-size: 32px;
  }

  .problems__item-3,
  .problems__item-7 {
    background-color: $white;
    color: $grey;
  }

  .problems__item-4,
  .problems__item-8 {
    background-color: $grey;
    color: $white;
  }

  .problems__btn {
    color: $grey;
    background-color: $white;
  }

  .price__wrapper {
    flex-wrap: wrap;

  }

  .price__right {
    display: none;
  }

  .price__left {
    max-width: 700px;
    margin: 0 auto;
  }

  .price__box {}

  // .price__inner{
  //   justify-content: center;
  // }
}

@media(max-width: 800px) {
  .screen__name {
    font-size: 24px;
  }

  .screen__title {
    font-size: 48px;
  }

  .screen__left {
    padding-top: 150px;
  }

  .screen__item {
    width: 300px;
  }

  .screen__right {
    width: 300px;
  }

  .header__menu.active {
    width: 300px;
    padding-left: 55px;
  }

  .offer__title {
    font-size: 20px;
  }

  .offer__text {
    font-size: 18px;
  }

  .tetatet__inner,
  .group__inner {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, auto);
  }

  .tetatet__item,
  .group__item {
    height: auto;
  }

  .tetatet__item-box,
  .group__item-box {
    padding: 30px 40px 0px 40px;
    max-width: fit-content;
    font-size: 32px;
    text-align: left;
    margin-bottom: 30px;
  }

  .tetatet__text-padding--bottom {
    padding-bottom: 50px;
  }

  .tetatet__text-wrapper,
  .group__text-wrapper {
    justify-content: center;
  }

  .group__item-text,
  .tetatet__item-text {
    padding: 0 40px;
    margin-bottom: 30px;
  }

  .group__text-one {
    margin-bottom: 0;
  }

  .tetatet__item-1,
  .group__item-3 {
    height: 100vw;
  }

  .tetatet__btn {
    margin: 0 auto;
  }

  .stages__inner {
    justify-content: center;
  }

  .stages__item {
    max-width: fit-content;
  }

  .contacts__box {
    flex-wrap: wrap;

  }

  .contacts__text {
    font-size: 20px;
  }

  .contacts__inner {
    max-width: fit-content;
    margin-top: 30px;
    max-width: 800px;
    width: 100%;
    justify-content: center;
  }

  .contacts__phone {
    padding-left: 0;
  }

  .about__inner {
    grid-template-columns: repeat(1, 1fr);
    height: auto;
  }

  .about__item-img {
    height: 100vw;
    width: 100vw;
    // max-width: 100%;
    // width: 100%;
  }

  .about__item-painting {
    grid-column-start: span 1;
  }

  .about__item-text {
    margin: 0;
    padding: 0 40px;
    padding-top: 30px;
  }
}

@media(max-width: 700px) {
  .title {
    font-size: 32px;
  }

  .container {
    padding: 0 20px;
  }

  .screen__left {
    width: 240px;
  }

  .adv__number {
    font-size: 48px;
  }

  .adv__title {
    font-size: 24px;
  }

  .adv__text {
    font-size: 18px;
  }

  .tetatet__item-box,
  .group__item-box {
    padding: 30px 20px 0px 20px;
    // font-size: 24px;
  }

  .tetatet__text-padding--bottom {
    padding-bottom: 50px;
  }

  .tetatet__item-text,
  .group__item-text {
    padding: 0 20px;
    margin-bottom: 30px;
  }

  .tetatet__text,
  .group__text {
    font-size: 18px;
  }

  .onebonus__item-1,
  .twobonus__item-2 {
    padding: 30px 20px 30px 20px;
  }

  .onebonus__item-title,
  .twobonus__item-title {
    font-size: 32px;
  }

  .onebonus__item-list,
  .twobonus__item-list {
    font-size: 18px;
  }

  .onebonus__item-price,
  .twobonus__item-price {
    font-size: 18px;
  }

  .onebonus__item-list,
  .twobonus__item-list {
    padding-left: 0;
  }

  .onebonus__item-box,
  .twobonus__item-box {
    padding-left: 0;
  }

  .stages__item {
    padding-right: 0;
    max-width: fit-content;
  }

  .problems__item {
    padding: 30px 20px;
  }

  .problems__title,
  .problems__main-title {
    font-size: 24px;
  }

  .problems__text {
    font-size: 18px;
  }

  .price__right {
    display: block;
    height: 100vw;
    max-width: 100%;
    order: -1;
    background-position: bottom;
  }

  .about__item-text {
    padding: 0 20px;
    padding-top: 30px;
  }

  .about__item-painting::before {
    width: 450px;
    height: 360px;
    bottom: -85px;
  }
}

@media(max-width: 600px) {
  .header__menu.active {
    width: 110%;
    left: -20px;
    justify-content: center;
    padding: 0;
    text-align: center;
  }

  .mob__connection {
    text-align: center;
    justify-content: center;
    max-width: 100%;

    a {
      display: block;
      text-align: center;
    }
  }

  .screen__name {
    font-size: 20px;
    margin-bottom: 0;
  }

  .screen__title {
    font-size: 36px;
    margin-bottom: 20px;
  }

  .screen__item {
    width: 240px;
  }

  .screen__right {
    width: 240px;
  }


  .screen__left {
    width: 88px;
    position: relative;
    z-index: 1;
    // padding-top: 700px;

  }

  .tetatet__text-wrapper {
    justify-content: flex-end;
  }

  .contacts__social {
    margin-left: auto;
    // padding-right: 50px;
  }

  .contacts__inner {
    justify-content: space-between;
  }

  .price__left {
    padding: 30px 20px;
  }

  .price__text-sale {
    // padding-right: 0;
    margin-right: 0;
  }
}

@media(max-width: 500px) {
  .container {
    padding: 0 15px;
  }

  .screen__btn {
    padding: 10px 15px;
  }

  .screen__item-left {
    width: 200px;
  }

  .screen__wrapper {
    height: 95vh;
  }

  .tetatet__item-box {
    padding: 30px 15px 0px 15px;

  }

  .tetatet__text-padding--bottom {
    padding-bottom: 50px;
  }

  .tetatet__item-text {
    padding: 0 15px;
  }

  .onebonus__item-1,
  .twobonus__item-2 {
    padding: 30px 15px 30px 15px;
  }

  .onebonus__item-box,
  .twobonus__item-box {
    justify-content: center;
    flex-wrap: wrap;

  }

  .onebonus__btn,
  .twobonus__btn {
    margin-bottom: 30px;
  }

  .onebonus__item-price,
  .twobonus__item-price {
    width: 100%;
    text-align: center;
  }

  .problems__item {
    padding: 30px 15px;
  }

  .contacts__inner {
    justify-content: center;
  }

  .contacts__email {
    padding: 0 30px;
  }

  .price__left {
    padding: 30px 15px;
  }

  .price__text {
    max-width: 250px;
  }

  .about__item-text {
    padding: 0 15px;
    padding-top: 30px;
  }
}

@media(max-width: 400px) {
  .price__text {
    max-width: 200px;
  }

  .about__item-painting::before {
    width: 370px;
    height: 294px;
    bottom: -45px;
  }
}

@media(max-width: 350px) {
  .price__text {
    max-width: 150px;
  }
}


























// ВЕРТИКАЛЬ НИЖЕ!!!!
@media(max-height: 900px) {
  .screen__item-center--img {
    bottom: 250px;
  }

  .screen__item-center--text {
    bottom: 150px;
  }

  .screen__left {
    padding-top: 250px;
  }
}

@media(max-height: 800px) {
  .screen__left {
    padding-top: 350px;
  }
}

// ВЕРТИКАЛЬ ВЫЩЕ!!!!