%Poiret {
  font-family: 'PoiretOne-Regular', sans-serif;
  font-weight: normal;
  display: swap;
}

%Bad {
  font-family: 'BadScript-Regular', sans-serif;
  font-weight: normal;
  display: swap;
}


$grey: #252525;
$white: #ffffff;
